<div class="user-details">
  <!--h1> Featured Projects </h1-->
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> The Problem We See </h3>
    <!--ul>
      <li> Featured Skills</li>
    </ul!-->
    <p>A major problem for enforcement teams is to know where and when to patrol in order to plan effective rounds.Existing alternatives are based on traditional statistics like averages per hour, day, or zone. However, this approach focuses on a simple historical analysis of the data taken out of context and out of the dynamic environment of the city. Moreover, the amount of data required is prohibitive to work finely on logistic planings per street and per hour. Finally, these methods are often carried out by hand, which makes the work tedious, unreplicable, subject to miscalculation, and misinterpretation.
    </p>
    <!--a class="project-link" href="#">Check it out</a-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> How Park.AI helps </h3>
    <p>To overcome these constraints, Park.AI will utilizes machine learning algorithms to predict where and when the number of violations is highest, and hence prescribe the areas to visit. The Algorithm is therefore able to determine the ideal route to optimize parking enforcement</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>A major advantage is the ability to accurately forecast and extrapolate the number of violations from a reasonable amount of historical observations, during a dynamic scenario of a day in the city. Moreover, the respective impacts of temporal and spatial variables can easily be decoupled, for recommendations by sector and period that are reliable, actionable, and operational on the field.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

A major advantage is the ability to accurately forecast and extrapolate the number of violations from a reasonable amount of historical observations, during a dynamic scenario of a day in the city. Moreover, the respective impacts of temporal and spatial variables can easily be decoupled, for recommendations by sector and period that are reliable, actionable, and operational on the field.